ENV=development

# choose one between this two
OPENAI_API_KEY=sk-xxxxxxx
ANTHROPIC_API_KEY=

# use openai base url or anthropic base url
AI_BASE_URL=https://xxx.com/api

# use your model
AI_INSTRUCT_MODEL_NAME=gpt-4.1 # non reasoning model
AI_THINK_MODEL_NAME=gpt-4.1 # reasoning model
AI_DEEP_THINK_MODEL_NAME=gpt-4.1 # best reasoning model
AI_EMBEDDINGS_MODEL_NAME=text-embedding-large # embeddings model

POSTGRES_URI=postgresql+asyncpg://username:password@localhost:5452/
